@import '~include-media/dist/include-media';
@import '~open-color/open-color';
$main-color : #00bbff;

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.deal_entire_section{
    display: flex;
    justify-content: center;
    margin:5% auto;
    width: 80vw;

    @media(max-width:1156px) {
        width: 100vw;
    }

    
    .deal_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .deal_layout {
            display: flex;
            justify-content: center;
            align-items: stretch;
            list-style: none;
            flex-wrap: wrap;
            padding:0;
            margin: 0 auto;

            // @media(max-width:1156px) {
            //     margin:0;
            //     width: 100%;
            // }

            
                li {
                    margin: 10px;
                    padding: 20px;
                }
            }
    
        }
    }


.deal_entry_img_wrap {
    overflow: hidden;
    padding: 10px;

    img {
        border-radius: 6px;
        width: 100%;
    }
}

.deal_entry_content_wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;

    .deal_entry_content {
        
        .deal_entry_content_company {
            font-size: 11px;
            color:#757575;
            line-height: 13px;
        }

        .deal_entry_content_title {
            font-size: 15px;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .deal_entry_content_info {
            
            .deal_entry_content_price {
                span {
                font-size: 17px;
                line-height: 23px;
                padding-right: 10px;
                margin-left: 5px;
                }
                .price_sale {
                    color: #f77;
                    font-weight: 700;
                }
                .price {
                    font-weight: 700;
                }
            }
        }
    }
}
