@import '~include-media/dist/include-media';
@import '~open-color/open-color';
$main-color : #00bbff;

* {
    font-family: 'Noto Sans KR', sans-serif;
}


.main-container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 600px;
    
    .row {
        width: 60%;
        margin: 0;

    .img_wrap {
        display: flex;
        justify-content: center;
        width: 70%;
        position: relative;
        overflow: hidden;
        
        .img_wrap_img {
            position: absolute;
            margin-top:3rem;
            width: 90%;
            max-height: 90%;

            .img_wrap_img_sample {

                width: 100%;
                border-radius: 10px;
                transition: all 0.2s linear;
            }
            // 스케일 커지는거 추후에 수정해야할듯!!
            .img_wrap_img_sample:hover {
                transform: scale(1.5);
            }
        }

    }

    // 여기부터 임시로 해보기
    .img_content_sample_wrap {
        position: absolute;
        display:flex;
        align-items: center;
        bottom: 20%;
        left:10%;
        width: 90%;
        justify-content: space-between;
        padding-right: 10%;

        .img_content_sample_title {
            h1 {
                font-size: 24px;
                max-height: 66px;
                font-weight: bold;
                color:white;
            }

            .sample_img {
                width: 18px;
                height: 18px;
                border-radius: 9px;
                margin-right: 5px;
            }
            span {
                font-size: 13px;
                color: white;
            }
        }
    }


    .img_more_sample {
        
        button {
            background: transparent;
            border: 1px solid white;
            border-radius: 5px;
            width: 100px;
            height: 40px;
            color:white;
            font-size: 14px;
            font-weight: 700;
        }
        button:hover {
            background-color: $main-color;
            border-color: $main-color;
        }
    }
    }
    .main_banner {
        width:30%;
        max-height: 90%;
        position: relative;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

