@import '~include-media/dist/include-media';
@import '~open-color/open-color';

$main-color : #00bbff;

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.main_banner_img {
    padding-left: 10px;
}

.banner_img {
    border-radius: 10px;
    height: 535px;
}