@import '~include-media/dist/include-media';
@import '~open-color/open-color';
$main-color : #00bbff;

* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 20px;
}


.nav_container {
    
    overflow: auto;
    width: 100%;
    height: 165px;
    max-width: 1256px;
    margin: 0 auto;
    margin-top:3%;
    box-sizing: border-box;


    .nav_category {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        // flex-wrap: nowrap;
        list-style: none;
        // width: 1130px;
        width:100%;
        position: absolute;
        margin: 0;


        @include media('>375px') {
            width: 100%;
            flex-wrap: wrap;
        }

        @include media('>768px') {
            flex-wrap: nowrap;
            // margin: 30px 0 20px;
        }

        li {
            margin: 0;
            padding-left: 10px;
            padding-right: 10px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 500;

                img {
                    width: 90px;
                    height: 80px;
                }
                img:hover {
                    cursor: pointer;
                }
            }
        }
    }
}