@import '../util.scss';

.store_entire_section {
    margin: 0;
    padding: 0;

    .store_top_section {
        position: relative;
        @include flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10vh;


        .store_img_category_section {
            margin: 0 auto;
            width: 100%;
            box-sizing: border-box;

            .store_category_nav {
                @include flex;
                flex-direction: row;
                list-style: none;
                flex-wrap: nowrap;

                li {
                    cursor: pointer;
                    border: 0.5px solid #c5c5c55d;
                    border-radius: 3px;
                    padding: 10px 20px;
                }
            }
        }
        
    }
    
}