* {
    font-family: 'Noto Sans KR', sans-serif;
}
.container {
    display: flex;
    align-items: center;
}

.container {
    ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
        li {
            padding-right: 10px;
            padding-left: 10px;
        }
        .signMenu {
            border-left: 1px solid #EAEDEF;
            border-right: 1px solid #EAEDEF;
        }
    }
    
}
